<div>
    <ul class="stat">
        <li>
            <p>Active:</p>
            <div class="box">
                {{totalActive}}
            </div>
            

        </li>
        <li>
            <p>Confirmed:</p>
            <div class="box">
                {{totalConfirmed}}    
            </div>
            
        </li>
        <li>
            <p>Recovered:</p>
            <div class="box">
                {{totalRecovered}}
            </div>
        </li>
        <li>
            <p>Deaths:</p>
            <div class="box">
                {{totalDeaths}}
            </div>
            
        </li>
    </ul>
</div>
